<section>
  <div class="w-full min-h-[250px] relative bg-purple-900">
    <app-container class="z-10 relative">
      <div class="flex flex-col items-center py-16 px-4">
        <div class="text-white z-10 text-[28px] font-semibold">Boost your links today</div>
        <button
          class="bg-primary z-10 mt-6 px-6 py-4 rounded-full text-white font-[600] text-xl"
        >
          Get Started
        </button>
      </div>
    </app-container>
    <div
      class="absolute bg-no-repeat bg-cover bg-center opacity-50 inset-0 z-0 bg-boost-mobile md:bg-boost-desktop"
    ></div>
  </div>
</section>