<header class="py-8">
  <div class="flex justify-between items-center">
    <div class="flex justify-start items-center gap-4 md:gap-8 lg:gap-24">
      <!-- Logo -->
      <a title="Shortly" routerLink="/" class="cursor-pointer">
        <img src="/assets/images/logo.svg" alt="Shortly Logo" />
      </a>

      <nav class="space-x-4 hidden md:flex">
        <a
          routerLink="#features"
          class="cursor-pointer text-xl text-gray-500 hover:text-gray-700 font-[500]"
          >Features</a
        >
        <a
          routerLink="#pricing"
          class="cursor-pointer text-xl text-gray-500 hover:text-gray-700 font-[500]"
          >Pricing</a
        >
        <a
          routerLink="#resources"
          class="cursor-pointer text-xl text-gray-500 hover:text-gray-700 font-[500]"
          >Resources</a
        >
      </nav>
    </div>

    <nav class="space-x-8 hidden md:flex items-center">
      <a routerLink="#login" class="cursor-pointer text-base text-gray-500 font-[600]">Login</a>
      <a routerLink="#sign-up">
        <button class="bg-primary px-5 lg:px-6 py-4 rounded-full text-white font-[600] text-xl">
          Sign Up
        </button>
      </a>
    </nav>
    <div class="md:hidden relative">
      <app-menu-icon (click)="toggleModal()"></app-menu-icon>
      <app-menu-modal [isOpen]="isMenuOpen">
        <div class="bg-gray-800 rounded-md items-center align-middle">
          <div class="flex px-4 flex-col justify-start items-center relative gap-[29px] py-8">
            <a class="flex-grow-0 flex-shrink-0 text-[19px] font-semibold text-left text-white">
              Features
            </a>
            <a class="flex-grow-0 flex-shrink-0 text-[19px] font-semibold text-left text-white">
              Pricing
            </a>
            <a class="flex-grow-0 flex-shrink-0 text-[19px] font-semibold text-left text-white">
              Resources
            </a>
          </div>

          <div
            class="flex px-4 flex-col justify-start items-center relative gap-[29px] py-8 border-t-2 border-gray-600 border-solid"
          >
            <a class="flex-grow-0 flex-shrink-0 text-[19px] font-semibold text-left text-white">
              Login
            </a>

            <button class="bg-primary px-6 py-4 rounded-full text-white font-[600] text-xl">
              Sign Up
            </button>
          </div>
        </div>
      </app-menu-modal>
    </div>
  </div>
</header>
