<div [ngClass]="{
  'border-red-500': variant === 'error',
  'border-blue-500': variant === 'focus',
  'border-emerald-500': variant === 'success',
  'border-gray-300': variant === 'default',
  'border': !!variant,
}" class="w-full min-w-[300px] px-6 py-[17px] bg-white rounded-[10px] justify-start items-center gap-2.5 inline-flex">
  <input
    class="text-gray-500 w-full text-lg font-medium font-Poppins placeholder-gray-500 outline-none"
    [placeholder]="placeholderText"
    (focus)="onFocus()"
    (blur)="onBlur()"
    formControlName="formControl"
    (input)="onInput($event)"
    required
  />
</div>
<div *ngIf="variant === 'error'" class="text-red-500 mt-2 text-base font-medium font-Poppins">
  {{ errorText }}
</div>