<div
  class="flex w-full relative items-center box-border overflow-hidden justify-between lg:min-h-[500px] gap-6 mx-auto h-full flex-col lg:flex-row"
>
  <div
    class="bg-hero-right-image min-h-[260px] w-full h-full absolute -right-10 md:-right-5 max-w-[400px] max-h-[260px] md:max-w-[500px] md:min-h-[300px] lg:max-w-[700px] lg:min-h-[500px]"
  ></div>
  <app-container class="flex h-full w-full items-center mt-[280px] md:mt-0 min-h-[300px]">
    <div class="flex w-full flex-col items-center md:items-start text-center md:text-left">
      <h3
        class="w-full md:max-w-[50%] lg:max-w-[485px] text-[42px] lg:text-[64px] pb-2 font-bold leading-[107%] text-gray-800"
      >
        More than just shorter links
      </h3>
      <p class="w-full md:max-w-[50%] lg:max-w-[477px] text-xl font-medium text-gray-500">
        Build your brand’s recognition and get detailed insights on how your links are performing.
      </p>
      <button class="bg-primary mt-6 px-6 py-4 rounded-full text-white font-[600] text-xl">
        Get Started
      </button>
    </div>
  </app-container>
</div>
