<footer class="w-full min-h-[236px] bg-neutral-800">
  <app-container>
    <div
      class="flex flex-col lg:flex-row pb-8 pt-12 justify-between items-center lg:items-baseline"
    >
      <a title="Shortly" routerLink="/" class="cursor-pointer flex-1 mt-4 mb-8 lg:mt-0">
        <img src="/assets/images/logo-white.svg" alt="Shortly Logo" />
      </a>
      <div class="flex flex-col items-center flex-1 lg:flex-row lg:items-baseline justify-start gap-8">
        <div
          class="flex flex-col justify-start items-center lg:items-start flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p class="flex-grow-0 flex-shrink-0 text-lg font-semibold text-gray-100">Features</p>
          <div
            class="flex flex-col justify-start items-center lg:items-start flex-grow-0 flex-shrink-0 relative gap-2"
          >
            <a
              class="flex-grow-0 flex-shrink-0 text-sm font-medium text-gray-400"
              routerLink="/link-shortening"
            >
              Link Shortening
            </a>
            <a
              class="flex-grow-0 flex-shrink-0 text-sm font-medium text-gray-400"
              routerLink="/branded-links"
            >
              Branded Links
            </a>
            <a
              class="flex-grow-0 flex-shrink-0 text-sm font-medium text-gray-400"
              routerLink="/analytics"
            >
              Analytics
            </a>
          </div>
        </div>
        <div
          class="flex flex-col justify-start items-center lg:items-start flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p class="flex-grow-0 flex-shrink-0 text-lg font-semibold text-gray-100">Resources</p>
          <div
            class="flex flex-col justify-start items-center lg:items-start flex-grow-0 flex-shrink-0 relative gap-2"
          >
            <a
              class="flex-grow-0 flex-shrink-0 text-sm font-medium text-gray-400"
              routerLink="/blog"
            >
              Blog
            </a>
            <a
              class="flex-grow-0 flex-shrink-0 text-sm font-medium text-gray-400"
              routerLink="/developers"
            >
              Developers
            </a>
            <a
              class="flex-grow-0 flex-shrink-0 text-sm font-medium text-gray-400"
              routerLink="/support"
            >
              Support
            </a>
          </div>
        </div>
        <div
          class="flex flex-col justify-start items-center lg:items-start flex-grow-0 flex-shrink-0 relative gap-4"
        >
          <p class="flex-grow-0 flex-shrink-0 text-lg font-semibold text-gray-100">Company</p>
          <div
            class="flex flex-col justify-start items-center lg:items-start flex-grow-0 flex-shrink-0 relative gap-2"
          >
            <a
              class="flex-grow-0 flex-shrink-0 text-sm font-medium text-gray-400"
              routerLink="/about"
            >
              About
            </a>
            <a
              class="flex-grow-0 flex-shrink-0 text-sm font-medium text-gray-400"
              routerLink="/our-team"
            >
              Our Team
            </a>
            <a
              class="flex-grow-0 flex-shrink-0 text-sm font-medium text-gray-400"
              routerLink="/careers"
            >
              Careers
            </a>
            <a
              class="flex-grow-0 flex-shrink-0 text-sm font-medium text-gray-400"
              routerLink="/contact"
            >
              Contact
            </a>
          </div>
        </div>
      </div>
      <div class="flex flex-1 items-center justify-between md:justify-end relative gap-8 p-6 mt-4 lg:mt-0 lg:pt-0">
        <a routerLink="#">
          <img src="/assets/images/icon-instagram.svg" alt="Instagram" />
        </a>
        <a routerLink="#">
          <img src="/assets/images/icon-pinterest.svg" alt="Pinterest" />
        </a>
        <a routerLink="#">
          <img src="/assets/images/icon-twitter.svg" alt="Twitter" />
        </a>
        <a routerLink="#">
          <img src="/assets/images/icon-facebook.svg" alt="Facebook" />
        </a>
      </div>
    </div>
  </app-container>
</footer>