<div class="block md:hidden cursor-pointer">
  <svg
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="w-8 h-8 relative"
    preserveAspectRatio="none"
  >
    <path
      d="M30.4 17.6H1.6C1.17565 17.6 0.768688 17.4314 0.468629 17.1314C0.168571 16.8314 0 16.4243 0 16C0 15.5757 0.168571 15.1687 0.468629 14.8686C0.768688 14.5686 1.17565 14.4 1.6 14.4H30.4C30.8243 14.4 31.2314 14.5686 31.5314 14.8686C31.8314 15.1687 32 15.5757 32 16C32 16.4243 31.8314 16.8314 31.5314 17.1314C31.2314 17.4314 30.8243 17.6 30.4 17.6ZM30.4 6.40001H1.6C1.17565 6.40001 0.768688 6.23144 0.468629 5.93139C0.168571 5.63132 0 5.22436 0 4.80001C0 4.37566 0.168571 3.9687 0.468629 3.66864C0.768688 3.36859 1.17565 3.20001 1.6 3.20001H30.4C30.8243 3.20001 31.2314 3.36859 31.5314 3.66864C31.8314 3.9687 32 4.37566 32 4.80001C32 5.22436 31.8314 5.63132 31.5314 5.93139C31.2314 6.23144 30.8243 6.40001 30.4 6.40001ZM30.4 28.8H1.6C1.17565 28.8 0.768688 28.6314 0.468629 28.3314C0.168571 28.0314 0 27.6243 0 27.2C0 26.7757 0.168571 26.3687 0.468629 26.0687C0.768688 25.7687 1.17565 25.6 1.6 25.6H30.4C30.8243 25.6 31.2314 25.7687 31.5314 26.0687C31.8314 26.3687 32 26.7757 32 27.2C32 27.6243 31.8314 28.0314 31.5314 28.3314C31.2314 28.6314 30.8243 28.8 30.4 28.8Z"
      fill="black"
    ></path>
  </svg>
</div>
