<main class="min-h-screen">
  <app-container>
    <app-header></app-header>
  </app-container>
  <app-hero></app-hero>

  <section class="bg-gray-100 mt-24">
    <app-container>
      <div class="relative -top-20">
        <form
          (submit)="onSubmit($event)"
          class="w-full relative bg-purple-800 gap-6 rounded-lg p-5 md:py-14 md:px-10 flex flex-col md:flex-row items-start align-baseline"
        >
          <div
            class="absolute bg-no-repeat bg-cover bg-center opacity-50 inset-0 z-0 bg-shorten-mobile md:bg-shorten-desktop"
          ></div>
          <app-input
            class="w-full z-10 md:flex-1"
            #appInput
            (inputValueChanged)="onInputValueChanged($event)"
            (inputValidationStatus)="onInputValidationStatusChanged($event)"
          ></app-input>
          <button
            [disabled]="loading"
            type="submit"
            class="bg-primary z-10 w-full md:w-auto h-[62px] px-6 py-4 rounded-[10px] text-white font-[600] text-xl"
          >
            <app-spinner-loading *ngIf="loading"></app-spinner-loading>
            <div *ngIf="!loading">Shorten it!</div>
          </button>
        </form>
      </div>

      <section class="relative -top-20">
        <!-- list link -->
        <div *ngIf="links.length > 0">
          <div class="text-gray-400 text-lg p-8 font-semibold">Your links</div>
          <div
            *ngFor="let link of links; let i = index"
            class="bg-white py-4 shadow-md mb-4 rounded-lg flex flex-col md:flex-row items-start md:items-center md:justify-between"
          >
            <div class="flex-grow-1 px-4">
              <p class="text-black text-base md:text-xl font-medium">{{ link.actualLink }}</p>
            </div>
            <div class="md:hidden w-full h-[1px] my-2 bg-gray-200"></div>
            <div
              class="flex px-4 w-full md:w-auto flex-col md:flex-row items-start md:items-center gap-2 md:gap-6"
            >
              <p class="text-teal-500 text-lg md:text-[22px] font-medium">{{ link.shortLink }}</p>
              <button
                [class.bg-teal-400]="lastCopiedIndex !== i"
                [class.bg-teal-700]="lastCopiedIndex === i"
                (click)="copyLink(i)"
                class="text-white text-xl font-semibold px-9 py-4 rounded-[10px] w-full md:w-auto"
              >
                {{ lastCopiedIndex === i ? 'Copied' : 'Copy' }}
              </button>
            </div>
          </div>
        </div>
        <app-why></app-why>
      </section>
    </app-container>
    <app-cta></app-cta>
  </section>
  <app-footer></app-footer>
</main>
