<div class="flex items-center flex-col mt-12">
  <div class="text-black text-3xl font-semibold">Advanced Statistics</div>
  <div
    class="max-w-[333px] md:max-w-[600px] w-full text-center text-gray-500 text-lg font-medium"
  >
    Track how your links are performing across the web with our advanced statistics
    dashboard.
  </div>
</div>

<div
  class="relative flex justify-between flex-col lg:flex-row items-center lg:items-baseline py-4 mt-4 gap-6"
>
  <div
    class="w-full h-[0px] border-[4px] hidden lg:block border-teal-400 absolute left-0 top-56"
  ></div>
  <div
    class="h-[80%] w-[0px] border-[4px] lg:hidden border-teal-400 absolute left-[calc(50% - 2px)] top-10"
  ></div>
  <div
    class="max-w-[362px] text-center lg:text-left w-full min-h-[260px] mt-10 p-10 relative bg-white rounded-lg shadow"
  >
    <div class="w-20 h-20 left-[calc(50%-40px)] lg:left-[36px] -top-10 absolute">
      <div
        class="w-20 h-20 left-0 top-0 absolute bg-zinc-800 bg-icon-brand-recognition bg-center bg-no-repeat rounded-full"
      ></div>
      <div class="w-10 h-10 left-[20px] top-[20px] absolute"></div>
    </div>
    <div class="text-gray-900 text-2xl font-semibold mt-6">Brand Recognition</div>
    <div class="max-w-72 text-gray-500 text-sm font-medium mt-6">
      Boost your brand recognition with each click. Generic links don’t mean a thing.
      Branded links help instil confidence in your content.
    </div>
  </div>

  <div
    class="max-w-[362px] text-center lg:text-left w-full min-h-[260px] mt-10 p-10 relative bg-white rounded-lg shadow lg:top-10"
  >
    <div class="w-20 h-20 left-[calc(50%-40px)] lg:left-[36px] -top-10 absolute">
      <div
        class="w-20 h-20 left-0 top-0 absolute bg-zinc-800 bg-icon-detailed-records bg-center bg-no-repeat rounded-full"
      ></div>
      <div class="w-10 h-10 left-[20px] top-[20px] absolute"></div>
    </div>
    <div class="text-gray-900 text-2xl font-semibold mt-6">Detailed Records</div>
    <div class="max-w-72 text-gray-500 text-sm font-medium mt-6">
      Gain insights into who is clicking your links. Knowing when and where people engage
      with your content helps inform better decisions.
    </div>
  </div>
  <div
    class="max-w-[362px] text-center lg:text-left w-full min-h-[260px] mt-10 p-10 relative bg-white rounded-lg shadow lg:top-20"
  >
    <div class="w-20 h-20 left-[calc(50%-40px)] lg:left-[36px] -top-10 absolute">
      <div
        class="w-20 h-20 left-0 top-0 absolute bg-zinc-800 bg-icon-fully-customizable bg-center bg-no-repeat rounded-full"
      ></div>
      <div class="w-10 h-10 left-[20px] top-[20px] absolute"></div>
    </div>
    <div class="text-gray-900 text-2xl font-semibold mt-6">Fully Customizable</div>
    <div class="max-w-72 text-gray-500 text-sm font-medium mt-6">
      Improve brand awareness and content discoverability through customizable links,
      supercharging audience engagement.
    </div>
  </div>
</div>