.modal-popup {
  display: none;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  min-width: 360px;
}

.modal-popup.open {
  display: block;
}